# COGS 108 - EDA Checkpoint

# Names

Varsha Sampath\
Elise Davis\
Kody Chuang\
Anna Sim

<a id='research_question'></a>
# Research Question

*Is there a correlation between median income and rate of diabetes diagnosis?*

# Hypothesis

$H_{0}$: There is no correlation between median income and rate of diabetes diagnosis.\
$H_{a}$: Rate of diabetes diagnosis is inversely proportional to median income.

# Dataset(s)

**Dataset #1**
- Dataset Name: US Household Income Statistics
- Link to the dataset: https://www.kaggle.com/datasets/goldenoakresearch/us-household-income-stats-geo-locations 
- Number of observations: 
32,000 records on US Household Income Statistics, including mean income for each city.

**Dataset #2**
- Dataset Name: 500 Cities: Diagnosed Diabetes among adults
- Link to the dataset: https://chronicdata.cdc.gov/500-Cities-Places/500-Cities-Diagnosed-diabetes-among-adults-aged-18/cn78-b9bj/data 
- Number of observations: 29,006
Records for percent of people in each city (of thousands) that have been diagnosed with diabetes.

We plan to cross reference the cities in each data set to combine the mean income data and the diabetes data, to then analyze and uncover any correlation.

# Setup

In [50]:
# import pandas & numpy library
import pandas as pd
import numpy as np
# pd.set_option("display.max_columns", 104)

# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(font_scale=2, style="white")

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.style as style

# set plotting size parameter
plt.rcParams['figure.figsize'] = (12, 5)

import warnings
warnings.filterwarnings('ignore')

# Data Cleaning

Describe your data cleaning steps here.

In [118]:
inc = pd.read_csv("kaggle_income.csv", na_filter = True, encoding='latin-1')
inc.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [ ]:
inc.shape

In [ ]:
inc[inc['City'].duplicated()]

In [ ]:
inc['Primary'].unique()

In [120]:
inc['Type'].unique()

array(['City', 'Town', 'CDP', 'Track', 'Borough', 'Village', 'County',
       'Municipality', 'Urban', 'Community'], dtype=object)

In [ ]:
inc['Place'].unique().shape

In [119]:
inc['City'].unique().shape

(8128,)

 **Dataset #2 Cleaning**\
In the current dataset, the entries were made gradually until the whole population of the city was covered. We have dropped the intermediate entries and kept the remaining 475 cities. The columns with unnecessary information were dropped, the index was reset, and the values were sorted.

In [114]:
db = pd.read_csv("Diagnosed_Diabetes.csv", na_filter = True, thousands=',', decimal='.')

In [115]:
db = db.drop(columns=['Year', 'DataSource', 'Measure',\
                      'CategoryID', 'Category', 'MeasureId',\
                      'Short_Question_Text', 'TractFIPS','GeographicLevel',\
                      'UniqueID', 'GeoLocation', 'CityFIPS',\
                      'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',\
                      'Low_Confidence_Limit', 'High_Confidence_Limit', 'DataValueTypeID'])

In [116]:
db = db[['StateAbbr',\
         'StateDesc',\
         'CityName',\
         'Data_Value_Type',\
         'Data_Value_Unit',\
         'Data_Value',\
         'PopulationCount']]

In [117]:
db.sort_values(by = 'PopulationCount', ascending = False)\
                .drop_duplicates(subset=['CityName'], keep='first')\
                .reset_index(drop= True)

,StateAbbr,StateDesc,CityName,Data_Value_Type,Data_Value_Unit,Data_Value,PopulationCount
0,US,United States,NaN,Crude prevalence,%,10.8,308745538
1,NY,New York,New York,Crude prevalence,%,10.9,8175133
2,CA,California,Los Angeles,Crude prevalence,%,10.0,3792621
3,IL,Illinois,Chicago,Age-adjusted prevalence,%,12.2,2695598
4,TX,Texas,Houston,Age-adjusted prevalence,%,13.3,2099451
...,...,...,...,...,...,...,...
470,GA,Georgia,Warner Robins,Age-adjusted prevalence,%,12.0,66588
471,SC,South Carolin,Rock Hill,Age-adjusted prevalence,%,12.4,66154
472,NY,New York,Schenectady,Crude prevalence,%,10.5,66135
473,WY,Wyoming,Cheyenne,Age-adjusted prevalence,%,8.2,59466
474,VT,Vermont,Burlington,Crude prevalence,%,5.5,42417

# Data Analysis & Results (EDA)

Carry out EDA on your dataset(s); Describe in this section

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION